<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <title>AngularJS Single Page App</title>
  </head>
  <body>
    <div class="main" ng-app="myList" ng-controller="myListController">
      <h1>Item's List</h1>
      <div class="addItem">
        <input ng-model="newItem" placeholder="Add Item" class="addText" />
        <button ng-click="pushItem()">Add</button>
      </div>
      <ul>
        <li ng-repeat="i in items">
          {{i}}
          <span>x</span>
        </li>
      </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
